@charset "utf-8";
/* CSS Document */

html *
{
    font-family: 'Lato';
}

.header
{
    padding: 0px 0 0px 20px;
    background: #FFF;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index:9999;
}

.logo
{
    padding-top: 15px !important;
}

.modal-logo
{
    width:70%; 
    height:auto; 
    display: block;
    margin:0 auto;
}

.modal-logo-md
{
    width:35%; 
    height:auto; 
    display: block;
    margin:0 auto;
}

.modal-header {
    border-bottom: 3px solid #e5e5e5;
}

.modal-body p {
    text-align: center;
}

.menu{
    margin:0px !important;
    border: none;
}

.menu li a
{
    color: #660000;
    font-weight:500;
    line-height: 29px;
    font-size: 12px;
    background-color: #FFF;
    z-index:999;
    border-top: 5px solid #fff;
}

.menu li a:hover
{
    border-top: 5px solid !important;
}

.menu-button
{
    color: #660000;
    font-size: 30px;
    margin:0px !important;
    padding:10px;
}

.backg
{	
    background-attachment:fixed;
    background-color: #645862;
    background-image:  url("images/bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: default;
    padding: 220px 0 160px;
    text-align: center;
    width: 100%;
    float: left;
}
@-moz-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }

.inner
{
    -moz-animation: reveal-banner 1s 0.25s ease-in-out;
    -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
    -o-animation: reveal-banner 1s 0.25s ease-in-out;
    -ms-animation: reveal-banner 1s 0.25s ease-in-out;
    animation: reveal-banner 1s 0.25s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: inline-block;
    opacity: 0;
    padding: 10px 20px;
    text-align: center;

}

.input-text
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-box p.intro
{
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
}

.text-box h3
{
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}

.text-box p
{
    display: inline;
    font-size: 12px;
    font-weight: 400;
}

.text-box a
{
    color: #ff6666;
}

.features
{
    background: #ff6666;
    padding: 60px 0px;
}

.features-text
{
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom:30px;
    margin-top:30px;
}

h2.features-text::after {
    display: block;
    margin: 17px auto 0px;
    width: 80px;
    height: 1px;
    background: #FFF none repeat scroll 0% 0%;
    content: "";
}

.iconing
{
    text-align: center;
    width:80px;
    margin:0 auto;
    margin-bottom: 20px;
}

.iconing i
{
    font-size: 35px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.icon-box
{
    margin:30px 0px;
}

.icon-text-box
{

}

.icon-text-box h4
{
    text-align: center;
    color: #FFF;
    font-weight: 400;
    font-size: 25px;

}

.icon-text-box p
{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: #FFF;
}

.site-content{
    padding: 90px 0px 30px;
}

.user-profile li {
    font-size: 12px;
}

.work-list{
    padding: 60px 0px;
}

.portfolio-text
{
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom:30px;
    margin-top:30px;
}

.portfolio-text.portfolio-text-before::before {
    display: block;
    margin: 0px auto 15px;
    width: 250px;
    height: 5px;
    background: #ff6666 none repeat scroll 0% 0%;
    content: "";
    border-radius: 5px;
}

.work-list a .featured-img
{
    width: 100%;
}

.work-list a .featured-img img
{
    width: 100%;
    height: 200px;
    float: left;
    position: relative;	
}

@keyframes imagehover {
    0%   {height: 40px;}
    25%  {height: 80px;}
    50%  {height: 120px;}
    75%  {height: 160px;}
    100% {height: 200px;}
}

.image-hover {
    display: none;
    position: absolute;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 100%;
    height: 200px;
    float: left;
}

.image-hover i{
    color: rgba(138, 184, 57, 0);
    font-size:30px;
    line-height: 200px;
    transition: 5s color ease-in;
    display: none;
}

.image-hover:hover i
{	
    display: block;
    color: #212A3F;
}

.work-list a h3 {
    text-align: left;
    padding: 15px;
    padding-left: 20px;
    font-size: 15px;
    float: left;
    width: 100%;
    font-weight: 600;
    background: #000;
    color:#fff;
    margin:0px;
}

.work-list a:hover .image-hover
{
    display: block;
    animation: 0.4s ease-in 0s normal none 1 running imagehover;
}

.work-space
{
    margin: 20px 0px;
}

.work-space p
{
    color:#999999;
}

.work-space .productname
{
    font-size: 140%;
    color: #000;
    margin: 0px;
    padding: 0px;
}

.active
{
    color:#ff6666 !important;
    border-top: 5px solid !important;
}

.footer-image
{
    width:40%; 
    height: auto;
    padding: 50px 0px 0px;
}

.footer
{
    background: #2E2E2E;
    padding: 20px;
    float: left;
    width: 100%;
    color:#cccccc;
}

.footer .division
{
    padding-left: 20px;
    padding-right: 20px;
}

.footer .division h3
{
    font-weight: 400;
    margin-bottom: 20px;
}

.copyright {
    background: #2e2e2e;
    float: left;
    text-align: center;
    width: 100%;
}

.copyright::before {
    display: block;
    margin: 40px auto 15px;
    width: 100%;
    height: 2px;
    background: #cccccc none repeat scroll 0% 0%;
    content: "";
    border-radius: 2px;
}

.copyright p {
    text-align:  center;
}

.text-title {
    margin-bottom: 30px; 
    margin-top: 0px; 
    padding-bottom: 20px; 
    text-align: center; 
    border-bottom: 1px solid #FF9999;
}

.glossymenu{
    margin: 5px 0;
    padding: 0;
    width: 170px; /*width of menu*/
    border: 0px solid #FFFFFF;
    border-bottom-width: 0;
}

.glossymenu a.menuitem{
    background: black url("images/accmenubg.png");
    font: bold 14px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    color: white;
    display: block;
    position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
    width: auto;
    padding: 4px 0;
    padding-left: 10px;
    text-decoration: none;
}

.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
    color: white;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
}

.glossymenu a.menuitem:hover{
    background-image: url("images/accmenubgselected.png");
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
    background: white;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.glossymenu div.submenu ul li{
    border-bottom: 1px solid #FF9999;
}

.glossymenu div.submenu ul li a{
    display: block;
    font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    padding: 2px 0;
    padding-left: 10px;
}

.glossymenu div.submenu ul li a:hover{
    background: #DFDCCB;
    colorz: white;
}

@media (min-width: 768px) and (max-width: 830px) {
    .menu li a {
        font-size: 10px;
    }
}

@media (min-width: 380px) and (max-width: 768px)
{
    .text-box p.intro {
        font-size: 22px;
    }
    .text-box h2 {
        font-size: 40px;
    }
    .text-box h3 {
        font-size: 16px;}
    .text-box p a.link-button {
        padding: 8px 14px;
        font-size: 13px;}
    .title h2 {

        font-size: 29px;}
    .desc p {
        font-size: 15px;
        text-align: justify;}
    .icon-text-box h4 {
        text-align: center;
    }
    .icon-text-box p {

        text-align: center;}

    .btneff {

        margin-top: 15px;
        width: 20% !important;
    }
}
@media (min-width: 0px) and (max-width: 379px)
{
    .text-box p.intro {
        font-size: 22px;
    }

    .text-box h2 {
        font-size: 20px;
    }

    .text-box h3 {
        font-size: 16px;
    }

    .text-box p a.link-button {
        padding: 8px 14px;
        font-size: 13px;
    }

    .title h2 {
        font-size: 29px;
    }

    .desc p {
        font-size: 15px;
        text-align: justify;
    }

    .icon-text-box h4 {
        text-align: center;
    }

    .icon-text-box p {
        text-align: center;
    }

    .btneff {
        margin-top: 15px;
        width: 80% !important;
    }

    .footer-image {
        width: 70%;
        height: auto;
    }

    .header {
        padding: 0px 10px 0px;
        background: #FFF;
        height: 65px;
        position: fixed;
        width: 100%;
        z-index:9999;
    }

    .navbar-brand img {
        max-height: 100%;
        margin-top: 8px;
    }

    .footer .division h3 {
        text-align: center;
    }

    .footer .division div {
        text-align: center;
    }
}